@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
--color-bg: $REPLACEME$COLOR-BG$REPLACEME$;
--color-text: $REPLACEME$COLOR-TEXT$REPLACEME$;
--color-titles: $REPLACEME$COLOR-TITLES$REPLACEME$;
--color-main: $REPLACEME$COLOR-MAIN$REPLACEME$;
--color-secondary: $REPLACEME$COLOR-SECONDARY$REPLACEME$;
}

body {
	background: var(--color-bg);
	color: var(--color-text);
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

/* header styling */
.header{
	display: flex;
	flex-flow: column wrap;
	margin: 0% 25% 0% 25%;
}

.header > .top{
	display: flex;
	flex-flow: column wrap;
	
	align-items: center;
	justify-content: center;
	
	margin: 1em 0 1em 0;
	padding: 0px;
	
	color: var(--color-titles);
	font-family: 'Anton', sans-serif;
}

h1.title{
	font-size: 5em;
	margin: 0;
}

p.author{
	font-family: 'Anton', sans-serif;
	margin: 0;
}

.header > .bottom{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;

	margin: 1% 7.5% 1% 7.5%;
}

.link-homepage{
	flex-grow: 1;
	text-align: left;
	color: var(--color-secondary);
}

.link-homepage:hover{
	color: var(--color-main	);
}

.timestamp{
	flex-grow: 1;
	text-align: right;
}

/* before content styling */

hr.main-sep{
	border: 3px var(--color-main);
    border-style: dashed none none none; 
    margin: 1em 12.5% 1em 12.5%;
}

div.content {
	margin: 0 5% 0 5%;
}

.content > .playlist-name {
	text-align: center;

	font-family: 'Anton', sans-serif;
	color: var(--color-titles);
	font-size: 2.25em;
}

/* scenario styling */

.scenario{
	display: flex;
	flex-flow: column nowrap;
}

.scenario > .title {
	display: flex;
	flex-flow: row nowrap;

	font-size: 1.33em;
	font-weight: 700;
}

.scenario > .title > .icon {
	color: var(--color-titles);
	margin: 1% 1em 0.5% 0;
}

.scenario > .title > .name {
	color: var(--color-secondary);
	margin: 1% 0 0.5% 0;
}

.scenario > .content{
	display: flex;
	flex-flow: row nowrap;

	margin: 0;
}

.scenario > .content > .graph {
	width: 70%;
	border: 1px var(--color-secondary) solid;
	border-radius: 1em;
}


.scenario > .content > .data {
	display: flex;
	flex-flow: column nowrap;
	text-align: center;
	width: 50%;
}

.scenario > .content > .data > .title{	
	font-size: 1.25em;
	margin: 1% auto 1% auto;
}

.scenario > .content > .data > .data-sep {	
	border: 2px var(--color-secondary);
    border-style: dashed none none none; 
    margin: 1em 12.5% 1em 12.5%;
}

table.datatable {
	border-collapse: collapse;
	margin: 1% 1% 1% 10%;
}

.datatable .bottomborder{
	border-bottom: 1px solid var(--color-main);
}

.datatable .rightborder{
	border-right: 1px solid var(--color-main);
}

.datatable .row1 {
	color: var(--color-main);
}

.datatable .row1 td{
	padding-bottom: 1em;
}

.datatable .category {
	color: var(--color-main);	
}

.datatable .value {
	padding-top: 0.66em;
}

/* no scenario stat file found styling */
div.no-scenarios{
	text-align: left;
	margin-left: 2.5em;
}

/* scenario separator styling */

hr.scenario-sep{
	border: 2px dashed var(--color-main);
    border-style: dashed none none none; 
    margin: 1em 12.5% 1em 12.5%;
}